<div class="modal-body">
  <div class="col-md-12">
    <p>
      <strong>Name :</strong>
      <%= article.name %>
    </p>
    <p>
      <strong>Description :</strong>
      <%= article.description %>
    </p>
    <p>
      <strong>Published on :</strong>
      <%= article.published_on %>
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
</div>
