<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacts</h1>
      <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#newContactModal", remote: true} %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>

        <tbody id="contactTable">
          <% @contacts.each do |contact| %>
            <%= render 'contact_row', contact: contact %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newContactModal" tabindex="-1" aria-labelledby="newContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">Create New Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newFormModal">
      </div>  
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="showContactModal" tabindex="-1" aria-labelledby="showContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showContactModalLabel">Show Contact Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showContactDetails">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="editContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editContactModalLabel">Show Contact Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editContactDetail">
      </div>
    </div>
  </div>
</div>
